* {
    margin: 0;
    padding: 0;
    font-size: 24px;
}
.navigation ul {
    background-color: black;
    color: white;
    list-style-type: none;
    display: flex;
}
.navigation ul li{
margin: 15px;
padding-left: 80px;
}
.main{
    margin-right: 20px;
    display: flex;
    font: 26px;
}
.list{
    adisplay: flex;
justify-content: space-between ;
    align-items: center;
}
 