body{
display: flex;
    justify-content: center;
    background-color: black;
}
.container {
    width: 30vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
}